
@{
    ViewBag.Title = "Servidor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Dashboard</a></li>
    <li class="breadcrumb-item active">Servidores</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i>Lista de Servidores
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Código</th>
                    <th>Tienda</th>
                    <th>IP Servidor</th>
                    <th>Hostname</th>
                    <th>Modelo</th>
                    <th>Serie</th>
                    <th>Sistema Operaivo</th>
                    <th>Version Micros</th>
                    <th>memoria Ram</th>
                    <th>Tamaño BD</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Servidores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="IdTienda" type="text" value="0" style="display: none;" />


                <div class="row g-2">

                    <div class="col-sm-6">
                        <label for="cod_marca" class="form-label">Código de Marca</label>
                        <select class="form-control" id="cod_marca" name="cod_marca">
                            <option value="BK">BK</option>
                            <option value="CH">CH</option>
                            <option value="KF">KF</option>
                            <option value="MT">MT</option>
                            <option value="PB">PB</option>
                            <option value="PH">PH</option>
                            <option value="SB">SB</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="cod_tienda" class="form-label">Código Tienda</label>
                        <input type="text" class="form-control" id="cod_tienda" placeholder="Ingrese el código de la tienda" maxlength="3">
                    </div>

                    <div class="mb-3">
                        <label for="tienda" class="form-label">Tienda</label>
                        <input type="text" class="form-control" id="tienda" placeholder="Ingrese el código de la tienda">
                    </div>


                    <div class="col-sm-6">
                        <label for="ip_servidor" class="form-label">IP Servidor</label>
                        <input type="text" class="form-control" id="ip_servidor" placeholder="Ingrese la IP del Servisor" maxlength="20">
                    </div>

                    <div class="col-sm-6">
                        <label for="nom_servidor" class="form-label">Nombre del Servidor</label>
                        <input type="text" class="form-control" id="nom_servidor" placeholder="Ingrese el nombre del servidor" maxlength="50">
                    </div>

                    <div class="col-sm-6">
                        <label for="modelo" class="form-label">Modelo de Equipo</label>
                        <input type="text" class="form-control" id="modelo" placeholder="Ingrese el Modelo de Equipo" maxlength="90">
                    </div>

                    <div class="col-sm-6">
                        <label for="serie" class="form-label">Serie</label>
                        <input type="text" class="form-control" id="serie" placeholder="Ingrese la serie del Equipo" maxlength="90">
                    </div>

                    <div class="col-sm-6">
                        <label for="sistema_operativo" class="form-label">Serie</label>
                        <input type="text" class="form-control" id="sistema_operativo" placeholder="Ingrese la serie del Equipo" maxlength="90">
                    </div>

                    <div class="col-sm-6">
                        <label for="version_micros" class="form-label">Version Micros</label>
                        <input type="text" class="form-control" id="version_micros" placeholder="Ingrese la vercion del Micros" maxlength="90">
                    </div>

                    <div class="col-sm-6">
                        <label for="memoria_ram" class="form-label">Memoria Ram</label>
                        <input type="text" class="form-control" id="memoria_ram" placeholder="Ingrese la memoria ram" maxlength="30">
                    </div>

                    <div class="col-sm-6">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-control" id="status">
                            <option value="1">Operativa</option>
                            <option value="0">Inoperativa</option>
                        </select>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div id="mensajeError" class="alert alert-danger" role="alert">
                                A simple danger alert—check it out!
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>

        var tabladata;
        var filaSeleccionada;

        $(document).ready(function () {
    tabladata = $("#tabla").DataTable({
        responsive: true,
        ordering: false,
        "ajax": {
            url: '@Url.Action("ListarServidor", "Home")',
            type: "GET",
            dataType: "json",
        },
        "columns": [
            { "data": "cod_marca" },
            { "data": "cod_tienda" },
            { "data": "tienda" },
            { "data": "ip_servidor" },
            { "data": "nom_servidor" },
            { "data": "modelo" },
            { "data": "serie" },
            { "data": "sistema_operativo" },
            { "data": "version_micros" },
            { "data": "memoria_ram" },
            { "data": "tamano_bd" },
            {
                "data": "status", "render": function (valor) {
                    if (valor) {
                        return '<span class="badge bg-success">Operativa</span>';
                    } else {
                        return '<span class="badge bg-danger">Inoperativa</span>';
                    }
                }
            },
            {
                "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                    '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                "orderable": false,
                "searchable": false,
                "width": "90px"
            }
        ],
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
        }
    });

    $("#tabla tbody").on("click", '.btn-editar', function () {
        var filaSeleccionada = $(this).closest("tr");
        var data = tabladata.row(filaSeleccionada).data();
        abrirModal(data);
    });

    $("#tabla tbody").on("click", '.btn-eliminar', function () {
        var usuarioSeleccionado = $(this).closest("tr");
        var data = tabladata.row(usuarioSeleccionado).data();

        swal({
            title: "¿Está seguro?",
            text: "¿Desea eliminar el Servidor?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-primary",
            confirmButtonText: "Sí",
            cancelButtonText: "No",
            closeOnConfirm: true
        }, function () {
            var Servidor = {
                IdTienda: data.IdTienda// Obtener el IdUsuario del registro
            };

            jQuery.ajax({
                url: '@Url.Action("EliminarServidor", "Home")',
                type: 'POST',
                data: JSON.stringify({ id: Servidor.IdTienda }), // Enviar solo el IdUsuario
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.resultado) {
                        tabladata.row(usuarioSeleccionado).remove().draw();
                    } else {
                        swal("No se pudo eliminar", data.mensaje, "error");
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {
                    // Código de beforeSend si lo requieres
                }
            });
        });

        console.log(data);
    });
});

        function abrirModal(json) {
            $("#IdTienda").val(0);
            $("#cod_marca").val("");
            $("#cod_tienda").val("");
            $("#tienda").val("");
            $("#ip_servidor").val("");
            $("#nom_servidor").val("");
            $("#modelo").val("");
            $("#serie").val("");
            $("#sistema_operativo").val("");
            $("#version_micros").val("");
            $("#memoria_ram").val("");
            $("#status").val(1);

            // Ocultar valores
            $("#mensajeError").hide();

            if (json !== null) {
                $("#IdTienda").val(json.IdTienda);
                $("#cod_marca").val(json.cod_marca);
                $("#cod_tienda").val(json.cod_tienda);
                $("#tienda").val(json.tienda);
                $("#ip_servidor").val(json.ip_servidor);
                $("#nom_servidor").val(json.nom_servidor);
                $("#modelo").val(json.modelo);
                $("#serie").val(json.serie);
                $("#sistema_operativo").val(json.sistema_operativo);
                $("#version_micros").val(json.version_micros);
                $("#memoria_ram").val(json.memoria_ram);
                $("status").val(json.status ? 1 : 0);
            }

            $("#formModal").modal("show");

            $("#tabla tbody").off("click", '.btn-editar').on("click", '.btn-editar', function () {
                var filaSeleccionada = $(this).closest("tr");
                var data = tabladata.row(filaSeleccionada).data();
                abrirModal(data);
            });

        }

        function Guardar() {
    var Servidor = {
        IdTienda: $("#IdTienda").val(),
        cod_marca: $("#cod_marca").val(),
        cod_tienda: $("#cod_tienda").val(),
        tienda: $("#tienda").val(),
        ip_servidor: $("#ip_servidor").val(),
        nom_servidor: $("#nom_servidor").val(),
        modelo: $("#modelo").val(),
        serie: $("#serie").val(),
        sistema_operativo: $("#sistema_operativo").val(),
        version_micros: $("#version_micros").val(),
        memoria_ram: $("#memoria_ram").val(),
        status: $("#status").val() == 1 ? true : false,
    };

    jQuery.ajax({
        url: '@Url.Action("GuardarServidor", "Home")',
        type: 'POST',
        data: JSON.stringify({ objeto: Servidor }),
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            debugger;
            if (Servidor.IdTienda == 0) {
                if (data.resultado !== 0) {
                    Servidor.IdTienda = data.resultado;
                    tabladata.row.add(Servidor).draw(false);
                    $("#formModal").modal("hide");
                } else {
                    $("#mensajeError").text(data.mensaje);
                    $("#mensajeError").show();
                }
            } else {
                if (data.data) {
                    tabladata.row(filaSeleccionada).data(Servidor).draw(false);
                    $("#formModal").modal("hide");
                } else {
                    $("#mensajeError").text(data.mensaje);
                    $("#mensajeError").show();
                }
            }
            location.reload(); // Recarga la página después de completar la operación de guardado
        },
        error: function (error) {
            $(".modal-body").LoadingOverlay("hide");
            $("#mensajeError").text("Error Ajax");
            $("#mensajeError").show();
        },
        beforeSend: function () {
            $(".modal-body").LoadingOverlay("show", {
                imageResizeFactor: 2,
                text: "Cargando...",
                size: 14
            });
        }
    });
}

    </script>
}
